<!DOCTYPE html>
<html lang="en-US" style="scroll-behavior: smooth;">
  <head>
    <title>MDplus DS & AI - Sample Blogpost</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#3B79B8" />
    <script src="https://use.fontawesome.com/cefbebdc70.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/mdplus-logo.png') }}" />
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='images/mdplus-logo.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/blogpost.css') }}" />
  </head>
  <body>
    <a href="/"><img src="{{ url_for('static', filename='images/mdplus-logo.png') }}" alt="MDplus Logo" class="logo"/></a>
    <nav>
      <a href="/resources">Resources</a>
      <a href="/blog" class="active">Blog</a>
      <a href="/network">Network</a>
      <a href="/datathon/2025">Datathon</a>
    </nav>

    <article>
      <p class="preview"><a href="/" style="text-decoration: none;color: inherit;">Data Science and AI</a> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="/blog" style="text-decoration: none;color: inherit;">Blog</a></p>
      <h1>Sample Blogpost</h1>
      <p class="author">
        Michael Yao
        &emsp; <span id="read-time"></span>
      </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non arcu risus quis varius quam quisque id diam. In nibh mauris cursus mattis molestie. Tellus elementum sagittis vitae et leo duis ut. Vitae congue eu consequat ac felis donec et odio pellentesque. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Odio eu feugiat pretium nibh. Viverra suspendisse potenti nullam ac. Nulla pellentesque dignissim enim sit amet venenatis urna. Urna molestie at elementum eu facilisis sed odio. Tempus iaculis urna id volutpat lacus laoreet non. Fringilla urna porttitor rhoncus dolor. Massa tincidunt dui ut ornare lectus sit amet. Aliquam purus sit amet luctus venenatis. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.</p>

      <p>Augue interdum velit euismod in. Ut consequat semper viverra nam. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Sed viverra tellus in hac. Pulvinar pellentesque habitant morbi tristique senectus. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Sit amet purus gravida quis. Sagittis orci a scelerisque purus semper eget duis at. Ultricies mi eget mauris pharetra et. Massa tincidunt dui ut ornare lectus sit amet est placerat. In metus vulputate eu scelerisque felis. Facilisis mauris sit amet massa vitae. Mauris commodo quis imperdiet massa tincidunt nunc. At risus viverra adipiscing at. Tellus elementum sagittis vitae et leo duis ut diam. Ut faucibus pulvinar elementum integer enim neque volutpat. Amet porttitor eget dolor morbi. Ut tellus elementum sagittis vitae et leo duis ut diam.</p>

      <p>Sapien faucibus et molestie ac feugiat sed lectus. Id volutpat lacus laoreet non curabitur gravida arcu. Tellus in hac habitasse platea dictumst. Ac tincidunt vitae semper quis lectus. Tristique senectus et netus et. Nunc sed id semper risus in. Aenean sed adipiscing diam donec. Maecenas ultricies mi eget mauris pharetra et ultrices neque. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Sit amet luctus venenatis lectus magna fringilla urna. Vitae justo eget magna fermentum iaculis eu non diam. Auctor eu augue ut lectus arcu.</p>

      <p>In hac habitasse platea dictumst quisque sagittis. Sit amet consectetur adipiscing elit ut aliquam purus sit. Eget sit amet tellus cras adipiscing enim eu turpis. Massa ultricies mi quis hendrerit dolor magna. Nec tincidunt praesent semper feugiat. Elementum curabitur vitae nunc sed velit dignissim sodales. Viverra vitae congue eu consequat ac felis donec. Mattis aliquam faucibus purus in. Enim sed faucibus turpis in eu mi bibendum. Aliquam etiam erat velit scelerisque in dictum.</p>

      <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Ultrices in iaculis nunc sed augue. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Massa tincidunt nunc pulvinar sapien et. Ut consequat semper viverra nam libero justo laoreet sit amet. At auctor urna nunc id. Et sollicitudin ac orci phasellus egestas tellus rutrum. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. Sit amet venenatis urna cursus eget nunc. Consectetur lorem donec massa sapien. Fames ac turpis egestas sed tempus urna et. A scelerisque purus semper eget duis at tellus at. Sit amet luctus venenatis lectus magna. Cursus turpis massa tincidunt dui ut ornare lectus sit.</p>

      <hr style="border: 1px solid #E8E8E8;margin: 25px auto;" />

      <img src="{{ url_for('static', filename='images/headshots/yao-michael.jpg') }}" alt="Author Headshot" class="author-headshot" />
      <p class="author">Michael Yao Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non arcu risus quis varius quam quisque id diam. In nibh mauris cursus mattis molestie. Tellus elementum sagittis vitae et leo duis ut. Vitae congue eu consequat ac felis donec et odio pellentesque. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Odio eu feugiat pretium nibh. Viverra suspendisse potenti nullam ac. Nulla pellentesque dignissim enim sit amet venenatis urna. Urna molestie at elementum eu facilisis sed odio. Tempus iaculis urna id volutpat lacus laoreet non. Fringilla urna porttitor rhoncus dolor. Massa tincidunt dui ut ornare lectus sit amet. Aliquam purus sit amet luctus venenatis. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.</p>

    </article>

    <footer>
      <p>&#169;<span id="footer-current-year"></span>. A community project made with &#10084;&#65039; by <a href="https://www.mdplus.community">MDplus</a>. All rights reserved. <a href="/changelog">Changelog</a>.</p>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='styles/js/footer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='styles/js/blogpost.js') }}"></script>
  </body>
</html>
