h1#title {
  margin: 100px auto 40px auto;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: min(48px, 5vw);
}

h2 {
  font-weight: 500;
  letter-spacing: 1px;
  color: #2d0d53;
  margin: 25px 0 5px 0;
}

h3 {
  margin: 20px 0 5px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
}

p.info {
  padding: 0;
  font-size: 14px;
  margin: 5px 0;
}

.purple,
#terminal,
#console,
.info > a {
  color: #2d0d53;
}

#countdown {
  text-align: center;
  font-size: 24px;
  opacity: 0.8;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 2px;
}

#countdown-header {
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

ul li {
  margin-bottom: 8px;
}

@media screen and (min-width: 1296px) {
  body h1,
  body p,
  body h2,
  body h3,
  body div#app {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }

  body ul {
    padding-left: 23% !important;
    padding-right: 23% !important;
  }
}
