h1#title {
  margin: 100px auto 40px auto;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: min(48px, 5vw);
}

h2 {
  font-weight: 500;
  letter-spacing: 1px;
  color: #2D0D53;
  margin: 25px 0 5px 0;
}

h3 {
  margin: 20px 0 5px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
}

p.info {
  padding: 0;
  font-size: 14px;
  margin: 5px 0;
}

.purple, #terminal, #console, .info > a {
  color: #2D0D53;
}
