<!DOCTYPE html>
<html lang="en-US" style="scroll-behavior: smooth;">
  <head>
    <title>MDplus DS & AI</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#3B79B8" />
    <script src="https://use.fontawesome.com/cefbebdc70.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/mdplus-logo.png') }}" />
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='images/mdplus-logo.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/index.css') }}" />
  </head>
  <body>
    <a href="/"><img src="{{ url_for('static', filename='images/mdplus-logo.png') }}" alt="MDplus Logo" class="logo"/></a>
    <nav>
      <a href="/resources">Resources</a>
      <a href="/blog">Blog</a>
      <a href="/network">Network</a>
      <a class="same-page" href="/datathon/2023">Datathon</a>
    </nav>

    <a href="https://mdplus.community" target="_blank" style="text-decoration: none;"><h2 class="page-title">MDplus</h2></a>
    <h1 class="page-title">Data Science and Artificial Intelligence</h1>
    <h3 class="page-title">The online hub for MD+ members building and learning DS&AI. Connect with peers, learn something new, create a project, find your community.</h3>
    <div class="socials">
      <a href="https://twitter.com/mdplus__" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/mdplus__/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/mdplusplus?original_referer=https%3A%2F%2Fmdplus.community%2F" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://mdplus.community/join" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a>
      <a href="https://github.com/michael-s-yao/MDplusDSAI" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>

    <div class="body-container">
      <div class="left">
        <a href="/resources" style="text-decoration: none;"><div class="block">
          <i class="fa fa-terminal" aria-hidden="true"></i>
          <h1>Develop new skills</h1>
          <p>Whether you&apos;re a veteran in the field or just getting started, check out our community-built tutorials on the fundamentals of data science and AI for clinicians.</p>
          <p class="preview">Take a peek <i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 10px;font-size: 14px;"></i></p>
        </div></a>

        <a href="/blog" style="text-decoration: none;"><div class="block">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          <h1>Discover new ideas</h1>
          <p>Want to learn how data science and AI can be used in your clinical practice? Read the latest news and op-eds (and contribute your own!)</p>
          <p class="preview">Read our blog <i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 10px;font-size: 14px;"></i></p>
        </div></a>

        <a href="/network" style="text-decoration: none;"><div class="block">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          <h1>Find your community</h1>
          <p>Connecting MD+ members with peers, mentors, and collaborators. Get in touch to learn from others, share interests, and brainstorm ideas.</p>
          <p class="preview">Get started <i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 10px;font-size: 14px;"></i></p>
        </div></a>
      </div>
      <div class="right">
        <h1><i class="fa fa-star-o" aria-hidden="true" style="margin-right: 15px;color: #8F8F8F;font-size: 24px;transform: translate(0, 3px);"></i> Features and News</h1> 

        <p><b>Apr 2023</b>: Check out this <a href="https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/2804309" target="_blank">new study</a> comparing AI-empowered chatbots with physicians in providing empathetic patient care.</p>
        <p><b>Mar 2023</b>: Huge thank you to our very own <a href="https://twitter.com/katieelink" target="_blank">Katie Link</a> for hosting an insightful roundtable on LLMs in medicine! Be sure to watch the recent <a href="https://www.youtube.com/watch?v=j-aOCuzfxUI" target="_blank">UCSF Ground Rounds</a> discussing ChatGPT as well.</p>
        <p><b>Mar 2023</b>: Join us in welcoming our next <a href="https://medium.com/mdplus/welcoming-md-exec-2023-2024-7cd173a23a2c" target="_blank">MD+ Exec Team</a>! <a href="https://www.linkedin.com/in/areebaabid?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAABNSdMQBT-oWdC8RjT3nGKZ06UmTc6Py3zY&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BH4ekX%2ByNT%2Fyx2oD3UW05uw%3D%3D" target="_blank">Areeba Abid</a>, <a href="https://www.linkedin.com/in/eric-z-shan?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAB_eUYgBzIcteDbwqXxWROK-DUUfogJX2nM&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BPhcFLPPUQyu72hFlVUNU5A%3D%3D" target="_blank">Eric Shan</a>, and <a href="https://www.michaelsyao.com" target="_blank">Michael Yao</a> will be serving as this year&apos;s DS&#38;AI directors.</p>
        <p><b>Mar 2023</b>: New OpenAI <a href="https://arxiv.org/abs/2303.10130" target="_blank">paper</a> and <a href="https://twitter.com/sj_manning/status/1637888162654453760?cxt=HHwWgICwzeSm-botAAAA" target="_blank">tweet-orial</a> out discussing the impact of tools like GPT on the US Labor Market.</p>
        <p><b>Feb 2023</b>: <a href="https://twitter.com/NEJM_AI/status/1626674657389600769?cxt=HHwWgoCz7e_-jZMtAAAA" target="_blank">NEJM AI</a> announced as a new NEJM journal alongside their excellent <a href="https://ai-podcast.nejm.org" target="_blank">Ground Rounds Podcast</a>.</p>
        <!-- <p><b>Dec 2022</b>: Happy holidays from MD+! Celebrate 2022 before the new year by checking out our <a href="https://medium.com/mdplus/year-in-review-md-in-2022-372bebe9aee7" target="_blank">Year in Review</a>.</p> -->
      </div>
    </div>

    <footer>
      <p>&#169;<span id="footer-current-year"></span>. A community project made with &#10084;&#65039; by <a href="https://www.mdplus.community">MDplus</a>. All rights reserved. <a href="/changelog">Changelog</a>.</p>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='styles/js/footer.js') }}"></script>
  </body>
</html>
